.linksContainer{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.logoutBtn{
    background: var(--text);
    color: var(--bgSoft);
    font-weight: bold;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mobileLinks{
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: purple;
}

.menuIcon{
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;
    
}



@media (min-width: 768px){
    .mobileLinks{
        display: none;
    }

    .menuIcon{
        display: none;
    }
}


@media (max-width:767px){
    .linksContainer{
        display: none;
    }
}